<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.Logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ARCHIVE}/rollingfile.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
			<totalSizeCap>1MB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<logger name="io.vertx" level="info" />
	<logger name="io.netty" level="info" />
	<logger name="com.zaxxer" level="info" />

	<root level="debug">

		<appender-ref ref="STDOUT" />
	</root>

</configuration>